.Sorter ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
}

.Sorter[open] ol li {
	display: inline-block;
	flex: 1;
}

.Sorter[open] a {
	display: block;
	margin: 0;
	padding: 0.4em 0.8em;
	text-align: center;
	color: #222;
	text-decoration: none;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.2em;
	width: 3.5em;
	position: relative;
	z-index: 6;
}

.Sorter ul > li:first-of-type a {
	padding-top: 0.8em;
}

.Sorter ul > li:last-of-type a {
	padding-bottom: 0.8em;
}

.Sorter li:first-of-type > a {
	text-align: right;
}

.Sorter li:last-of-type > a {
	text-align: left;
}

.Sorter div.arrow {
	width: 100%;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.2em;
	position: absolute;
	color: black;
	top: 2.65em;
	z-index: 5;
	transform-origin: 50% 60%;
	transition: top 0.2s cubic-bezier(.9,.71,.68,1.34), transform 0.1s linear;
}

.Sorter div.highlight {
	color: #888;
	top: 2.65em;
	z-index: 4;
}

.Sorter div.arrow.descending {
	transform: rotate(200grad);
}